<h1>You have new message from your Portfolio </h1>

<p>
  <strong><%= @name %></strong> wrote to you, his email: <strong><%= @email %> </strong>, his phone: <strong><%= @phone %></strong>.
</p>

<strong>Message:</strong>
<p>
<% @message %>

</p>